:root {
  --color-1: #e21;
  --color-2: #900;
  --bg-1: #f7f7f7;
  --bg-2: #fff;
  --text: #000;
  --detail-1: rgb(198, 198, 198, 0.2);
  --detail-2: url(./assets/onda-clara.svg); 
  --bt: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
  --color-1: rgb(148, 12, 0);
  --color-2: rgb(95, 1, 1);
  --bg-1: #181818;
  --bg-2: rgb(17, 17, 17);
  --text: rgb(221, 221, 221);
  --detail-1: rgba(94, 94, 94, 0.2); 
  --detail-2: url(./assets/onda-escura.svg);
  --bt: rgb(221, 221, 221);
  }
}

body {
  background-color: var(--bg-1);
  color: var(--text);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0px;
  padding:0;
}
p, h1, h2, h3 {
  margin: 0;
}
p {
  font-size: 1.25rem;
  line-height: 1.3;
}
.descricao h1 {
  font-size: 2rem;
}
.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}
.opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}
.opcoes a:hover {
  border: 2px;
  border-color: var(--color-1);
  border-style: solid;
}
.opcoes a {
  /* esse é o .links de antes e o .menu dele */
  display: block;
  background: var(--bg-2);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: var(--text);
  text-transform: uppercase;
  border: 2px solid transparent;
}
.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.descricao {
  /* esse é a introdução dele */
  position: relative;
  text-align: right;
  padding: 2.5rem;
  background: var(--bg-2);
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}
.botao {
  background-color: var(--color-1);
  color: var(--bt);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}
.botao:hover {
  background: var(--color-2);
}
.descricao::after {
  position: absolute;
  content: '';
  width: 3.75rem;
  height: 0.25rem;
  background: var(--color-1);
  top: 2rem;
  right: -2rem;
}
.vantagens {
  /* esse é o subtitulo dele */
  background-image: var(--detail-2);
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--detail-1);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
}
.benefits {
  /* essa é a div vantagens dele */
  background: var(--bg-2);
  padding: 2.5rem;
}
.benefits-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
}
.benefits-item:hover {
  border-width: 0px;
  border-left: 4px; 
  border-color: var(--color-1);
  border-style: solid;
}
.benefits-item:nth-child(odd) {
  background: var(--bg-1);
}
.benefits-item p {
  grid-column: 2;
}
.rodape {
  background: var(--bg-2);
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  body{
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .produto {
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0 auto;
  }
  .descricao {
    display: grid;
    justify-items: center;
  }
  .descricao p {
    text-align: center;
  }
  .descricao::after {
    display: none;
  }
  .vantagens {
    display: grid;
    text-align: center;
  }
}